@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?rds54f');
    src:    url('fonts/icomoon.eot?rds54f#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?rds54f') format('truetype'),
        url('fonts/icomoon.woff?rds54f') format('woff'),
        url('fonts/icomoon.svg?rds54f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
    content: "\e604";
}
.icon-old-phone:before {
    content: "\e901";
}

